/*
 * A8 style inject
 * sunny 2020-12-11
*/

body {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, "SimSun", 宋体 !important;
}

.main-div {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.aip-diagram-container {
    height: 600px;
    width: 800px;
}

.aip-modeler-container {
    height: 800px;
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

.aip-bpmn-container {
    display: flex;
    flex-direction: row;
}

.bpmn-text {
    margin-top: 20px;
    width: 98%;
    height: 200px;
}
